@charset "utf-8";
.tabswrap {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}
.itemwrap {
	padding-top: 20px;
}
.item {
	position: relative;
	left: 100%;
	height: 0;
	overflow: hidden;
}
.item0,
.item1,
.item2,
.item3,
.item4,
.item5 {
	transition: 300ms;
	left: 0;
	height: auto;
	overflow: visible;
}